<div class="container">
  <h2>Hello, have a good day!</h2>
  <h4>Welcome <%= params[:user_email] %></h4>
  <h4>Now viewing <%= params[:property_id] %></h4>

<hr>

  <% @users.each do |user| %>
    <ul>
      <li><%= user.email %></li>
    </ul>
  <% end %>

<hr>

  <div id='calendar'></div>

</div>

<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            defaultDate: '2014-09-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
        });
    });
</script>
