<div id="section">
  <h4>
    Welcome <%= @user.email %>, have a good day! <%= link_to 'Back to Listings', nesthost_redirect_path, class: 'btn btn-primary', method: :get %>
  </h4>
  <hr>

  <%= render :partial => 'property' %>

  <div class='calendar'></div>

  <script>
      $('.calendar').each(function(){
        var calendar = $(this);
        calendar.fullCalendar({
          height: 500,
          defaultDate: '<%= Date.today() %>',
          header: {left: 'prev,next,today', center: 'title', right: 'month,agendaWeek,agendaDay'},
          selectable: true,
          selectHelper: true,
          eventStartEditable: true,
          eventDurationEditable: false,
          editable: true,
          eventSources: ['/bookings.json'],
          // create a message
          selectOverlap:false,
          // create a message
          eventOverlap:false,
          select: function(start,end) {
            $.getScript('/bookings/new',function() {
              $('#booking_date_range').val(moment(start).format("DD/MM/YYYY") + ' - ' + moment(end).format("DD/MM/YYYY"));
              date_range_picker();
            });
            calendar.fullCalendar('unselect');
          },

          eventDrop: function(booking, delta, revertFunc) {
            event_data = {
              booking: {
                id: booking.id,
                start: booking.start.format("DD/MM/YYYY"),
                end: booking.end.format("DD/MM/YYYY"),
              }
            };
            $.ajax({
              url: booking.update_url,
              data: event_data,
              type: 'PATCH'
            });
          },

          eventClick: function(booking, jsEvent, view) {
            $.getScript(booking.edit_url, function() {
              $('#booking_date_range').val(moment(booking.start).format("DD/MM/YYYY") + ' - ' + moment(booking.end).format("DD/MM/YYYY"));
              daterangepicker();
            });
          }
        });
      });
    $(document).on('turbolinks:load');
  </script>
</div>
